<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         strict="true"
         verbose="true"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="DATABASE" value="permissions"/>
        <env name="DB_USER" value=""/>
        <env name="DB_PASS" value=""/>

        <env name="APP_KEY" value="base64:L8lRK8Go1NWCvy03sjPInQb2pA74FXweFLX4N9MHP68="/>
    </php>
</phpunit>